
@{
    ViewBag.Title = "PartialViewExample";
}

<h2>PartialViewExample</h2>
<h1>Old Students</h1>
<ul>
    <li>Shailander</li>
    <li>vrushali</li>
    <li>Renuka</li>
</ul>

<h1>New Students</h1>
@Html.Partial("_MyPartialView")
