
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="~/Library/Create" method="post">
    <label>
        BookName
    </label>
    <input type="text" name="BookName" /><br />
    <label>
        Price
    </label>
    <input type="text" name="Price" /><br />
    <input type="submit"  value="Save" />
</form>