@model ADO_DotNetExample.Models.EmployeeModel
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@Model.EmpId<br />
@Model.EmpName<br />
@Model.EmpSalary<br />


<form action="~/Home/Delete/@Model.EmpId" method="post">
    <input type="submit" name="name" value="Delete" class="btn btn-danger" />
</form>