
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="~/Home/index" method="post">
    @Html.DropDownList("Employees")<br />

    <input type="submit" value="submit" />
</form>

@ViewBag.SelectedEmployee