
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<form action="~/Home/Create" method="Post">
    <label>EmpName</label>
    <input type="text" name="EmpName" class="form-control" />
    <label>EmpSalary</label>
    <input type="text" name="EmpSalary" class="form-control" />
    <input type="submit" value="Create" class="btn btn-success" />
</form>